html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: monospace;
}

html {
    height: 100%;

}

body {
    padding: 4px;
    width: auto;
    min-height: calc(100% - 8px);
}

h1,
.main,
.control_group {
    padding-left: 10%;
}

.control_group {
    margin: 6px auto;
}

.control_label {
    padding: 4px 10px;
    line-height: 2em;
    background: #f2f2f2;
}

#identify_on,
#zoom_in {
    vertical-align: text-bottom;
}

#map_container {
    max-width: 600px;
    overflow: hidden;
    margin: 0 auto;
}

#map_board_wrapper {
    position: relative;
    width: 100%;
    transform: scale(1) translateZ(0);
    transform-origin: center;
    transition: all 1.2s ease-in-out;
}

#map_board_wrapper.zoomed {
    transform: scale(2.2);
}

#map_board {
    width: 100%;
}

.icon {
    color: white;
    position: absolute;
    top: 40px;
    font-size: 0.8em !important;
}

.led {
    position: absolute;
    top: 10px;
    width: 27px;
    height: 27px;
    /* border: 1px solid red; */
}

.coordinator_led {
    transform: rotate(90deg);
}

#coord_app,
#coord_comm {
    top: 50%;
}

#coord_app {
    left: calc(35% - 27px / 2);
}


#coord_comm {
    left: calc(65% - 27px / 2);
}

#groud_led {
    left: calc(50% - 27px / 2);
    top: 33%;
}

#status_led1,
#status_led2 {
    top: 38%;
}

#status_led1 {
    left: calc(40% - 27px / 2);
}

#status_led2 {
    left: calc(60% - 27px / 2);
}

#icon_crd_app,
#icon_crd_comm {
    top: 57%;
}

#icon_crd_app {
    left: calc(35% - 6px);
}

#icon_crd_comm {
    transform: rotate(90deg);
    left: calc(65% - 6px);
}

#icon_plug {
    left: calc(50% - 6px - 2px);
    top: 40%;
}

#icon_cloud {
    left: calc(40% - 6px);
    top: 45%;
}

#icon_bluetooth {
    left: calc(60% - 6px);
    top: 45%;
}

@media screen and (max-width: 600px) {
    .led {
        width: 20px;
        height: 20px;
    }

    .icon {
        font-size: 0.64em !important;
    }

    #icon_crd_app {
        left: calc(35% - 8px);
    }
    
    #icon_crd_comm {
        left: calc(65% - 8px);
    }
    
    #icon_plug {
        left: calc(50% - 8px);
    }
    
    #icon_cloud {
        left: calc(40% - 8px);
    }
    
    #icon_bluetooth {
        left: calc(60% - 8px);
    }
}
